@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*{
    text-decoration:none;
}
a{
    color:black;
    text-decoration: none;
}
.pd{
    padding: 20px 0;
}

.width-150{
    width: 150px;
}

.width-500{
    width:500px;
}

.slider-heigth{
    height:500px ;
}

.bn{
    border: none;
}

.img-size img{
    width: 100px;
    height: 100px;
}

.fs-5-5{
    font-size: 18px;
}

.mt-6{
    margin-top: 300px;
}

.ms-6{
    margin-left: 26%;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.btn-acik-mavi{
    background-color: #84a3d1 ;
}

#form a:hover{
    background-color: #cfe2ff ;
}